[submodule "home-cloud-server"]
	path = home-cloud-server
	url = https://github.com/emicastro/home-cloud-server
[submodule "server"]
	path = server
	url = https://github.com/emicastro/home-cloud-server
[submodule "client"]
	path = client
	url = git@github.com:emicastro/home-cloud-webapp.git
